# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build folders
Debug/
Release/
x64/
x86/

# C/C++ build outputs
*.obj
*.o
*.ipch
*.pch
*.pdb
*.ilk
*.idb
*.exe
*.dll
*.lib
*.exp

# CMake (if used later)
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
